.container {
  max-width: 1200px;
}

.fork {
  background-image: url('../img/testem2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &__wrapper {
    color: $fork-text;
    @include padding10;
    @include flex-column;
    @include flex-center;
  }
  &__title {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 32px;
    text-align: center;
  }
  &__cards-box {
    @include flex-column;
    align-items: center;
    padding-bottom: 18px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, 0.11);
    width: 257px;
    height: 457px;
    margin-bottom: 18px;
  }
  &__card-title {
    color: $fork-text;
    background: rgb(255, 255, 255, 0.06);
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  &__card-price {
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 20px;
  }
  &__card-price--bold {
    font-weight: bold;
  }
  &__card-period {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 38px;
  }
  &__card-divider {
    width: 60px;
    height: 5px;
    background: #8D81AC;
    margin-bottom: 30px;
  }
  &__card-details {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 37px;
    text-align: center;
  }
  &__card-button {
    color: $fork-text;
    text-transform: uppercase;
    padding: 15px 36px;
    background: rgb(255, 255, 255, 0.15);
    border-radius: 40px;
  }

  &__card--active {
    @extend .fork__card;
    width: 300px;
    height: 560px;
    background: rgb(70, 48, 72, 0.84);
  }
  &__card-title--active {
    @extend .fork__card-title;
    background: rgb(0, 0, 0, 0.11);
    padding-top: 43px;
    padding-bottom: 43px;
    margin-bottom: 14px;
  }
  &__card-price--active {
    font-size: 82px;
    line-height: 84px;
    margin-bottom: 16px;
  }
  &__card-period--active {
    @extend .fork__card-period;
    margin-bottom: 46px;
  }
  &__card-divider--active {
    @extend .fork__card-divider;
    margin-bottom: 40px;
  }
  &__card-details--active {
    @extend .fork__card-details;
    margin-bottom: 83px;
  }
  &__card-button--active {
    @extend .fork__card-button;
    padding: 18px 48px;
  }
}

@media (min-width: $tablet) {
  .fork {
    &__title {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 40px;
      margin-top: 88px;
    }
    &__cards-box {
      max-width: 630px;
      max-height: 1165px;
      display: grid;
      gap: 25px;
      grid-template-columns: minmax(220px, 300px) minmax(220px, 257px);
      grid-template-rows: 1fr 1fr;
      justify-items: end;
      padding-bottom: 94px;
    }
    &__card {
      width: 100%;
      max-width: 257px;
      grid-column: span 1;
      grid-row: span 1;
      justify-items: end;
      margin-bottom: 0;
    }
    &__card--active {
      max-width: 300px;
    }
  }
}

@media (min-width: $desktop) {
  .fork {
    &__title {
      margin-bottom: 60px;
    }
    &__cards-box {
      display: flex;
      flex-direction: row;
      gap: 0;
      max-width: 100%;
    }
    &__card {
      width: 257px;
      margin: 7px;
    }
    &__card--active {
      width: 300px;
    }
  }
}




