.head {
  @include flex-between;
  margin: 0 auto;
  background-color: #27262A;
  padding: 32px 15px;
  position: relative;

  &__wrapper {
    background-color: #000000;
  }

  &__logo {
    display: flex;
    align-items: center;
    & > span {
      display: none;
      font-family: Lato;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      color: #8D81AC;
      text-transform: uppercase;
      margin-left: 17px;
    }
    
    &:hover {
      span, img {
        transition: filter 0.3s linear;
        filter: brightness(0) invert(1);
      }
    }
  }

  &__buy-btn {
    font-weight: bold;
    font-size: 15px;
    background: #8D81AC;
    border: 1px solid #8D81AC;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 10px;
    min-width: 119px;
    min-height: 37px;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: #FFFFFF;
      color: #8D81AC;
    }
  }

  &__menu-btn {
    display: block;
    background-color: transparent;
    border: none;
    width: 26px;
    
    img:first-of-type {
      display: block;
    }
    img:last-of-type {
      display: none;
    }
    &[data-active="true"] {
      img:first-of-type {
        display: none;
      }
      img:last-of-type {
        display: block;
      }
    }
  }

  &__menu {
    display: none;
    padding-bottom: 14px;
    position: absolute;
    flex-direction: column;
    background-color:#333333;
    left: 50%;
    top: 99%;
    min-width: 290px;
    gap: 10px;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__link {
    @include flex-between;
    min-height: 91px;
    padding-left: 35px;
    font-size: 26px;
    color: #FFFFFF;
    border-bottom: 3px solid #3B3B3B;
    position: relative;

    &:hover {
      color: #FFFFFF;
    }

    &:focus {
      color: #8D81AC;
    }

    &:focus::before {
      width: 8px;
      height: 53px;
      content: '';
      position: absolute;
      background-color: #8D81AC;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__menu-btn[data-active="true"] ~ &__menu {
    display: flex;
  }
}

@media (min-width: $tablet) {
  .head {
    flex-wrap: wrap;
    padding: 21px 20px 17px;
    max-width: $desktop-max;

    &__buy-btn {
      font-size: 16px;
      min-width: 145px;
    }

    &__menu-btn {
      display: none;
    }

    &__logo > span {
      display: inline;
    }

    &__menu {
      display: flex;
      background-color: unset;
      margin: 0 auto;
      transform: translateX(0);
      justify-content: space-between;
      position: static;
      width: 80%;
      flex-direction: row;
      align-items: center;
      padding-top: 22px;
      padding-bottom: 0;
    }

    &__link {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      border: none;
      color: #8D81AC;
      min-height: unset;
      padding-left: 0;

      &:focus {
        color: #FFFFFF;
        &::before {
          content: none;
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .head {
    background-color: unset;
    &__menu {
      padding-top: 0;
      width: 50%;
      order: 1;
      margin-right: 48px;
    }

    &__buy-btn {
      order: 2;
    }
  }
}