.hero {
  min-height: 615px;
  max-height: 800px;
  text-align: center;
  padding: 50px 30px;
  position: relative;

  &__background {
    background: url('../img/hero.jpg') #000000;
    width: 100%;
    background-position-y: 70%;
    background-position-x: center;
    background-repeat: no-repeat;
  }
	&__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 19px;
  }

	&__text {
    font-size: 18px;
    line-height: 24px;
    color: #8D81AC;
    margin-bottom: 14px;
  }

	&__version {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848E97;
  }

	&__button {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    background: #8D81AC;
    border-radius: 40px;
    border: 1px solid #8D81AC;
    padding: 13px 29px;
    min-width: 290px;
    margin-bottom: 12.5px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 100%;
    width: 90%;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: #FFFFFF;
      color: #8D81AC;
    }

    &::after {
      position: absolute;
      content: 'Unlimited 30-Days Trial Period';
      font-size: 14px;    
      color: #848E97;
      left: 50%;
      bottom: -65%;
      width: 100%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: $tablet) {
  .hero {
    min-height: 680px;

    &__title {
      font-size: 72px;
      line-height: 72px;
    }

    &__text {
      font-size: 24px;
      line-height: 24px;
    }

    &__button {
      font-weight: bold;
      font-size: 21px;
      line-height: 23px;
      padding: 19px 61px;
      max-width: 390px;
    }
  }
}

@media (min-width: $desktop) {
  .hero {
    min-height: 800px;

    &__title {
      font-size: 82px;
      line-height: 82px;
    }

    &__text {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 19px;
    }

    &__version {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

@media (min-width: $desktop-max) {
  .hero {
    &__background {
      background-size: cover;
    }
  }
}