@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin buttons-style {
  color: #24292f;
  height: 28px;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  float: left;
  border: 1px solid rgba(27, 31, 36, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

@mixin padding10 {
  padding-left: 10px;
  padding-right: 10px;
}

@mixin padding-mobile {
  padding-left: 15px;
  padding-right: 15px;
}
