.editor {
  @include flex-center;
  @include padding10;
  flex-direction: column;
  text-align: center;
  &__title {
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    color: $editor-title;
    text-transform: uppercase;
    margin-top: 130px;
    margin-bottom: 27px;
  }
  &__text {
    @include padding10;
    font-size: 14px;
    line-height: 20px;
    color: $get-title;
    font-family: 'Lato', sans-serif;
    margin-bottom: 36px;
  }
  &__buttons-box {
    @include flex-center;
    flex-wrap: wrap;
    margin-bottom: 115px;
  }
  &__button {
    margin: 5px;
  }
  &__button-item {
    @include flex-center;
    @include buttons-style;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #f6f8fa;
  }
  &__button-item--first {
    border-radius: 6px;
  }
  &__button-text {
    margin-left: 5px;
  }
  &__button-numb {
    @include buttons-style;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

@media (min-width: $tablet) {
  .editor {
    &__title {
      font-size: 42px;
      line-height: 42px;
    }
    &__text {
      max-width: 860px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 21px;
      line-height: 32px;
    }
    &__buttons-box {
      margin-bottom: 155px;
    }
  }
}

@media (min-width: $desktop) {
  .editor {
    &__title {
      font-size: 54px;
      line-height: 54px;
    }
    &__text {
      margin-bottom: 155px;
    }
    &__buttons-box {
      margin-bottom: 65px;
    }
  }
}

