.testi {
  @include padding10;
  background-image: url('../img/testem1.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15px;
  background-size: cover;
  text-align: center;
  background-color: #4B3B4E;
  padding-top: 57px;

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 53px;
  }
  
  &__content {
    @include padding10;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: $desktop-max;
    margin: 0 auto;
  }

  &__post {
    @include padding10;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    max-width: 350px;
    &:last-child {
      margin-bottom: 37px;
    }
  }

  &__img {
    max-height: 64px;
    object-fit: none;
    object-position: bottom;
    margin-bottom: 22px;
  }

  &__quote {
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__bottom-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0 auto 20px;
    max-width: 900px;
  }

  &__separator {
    height: 2px;
    margin: 0 auto;
    width: 82%;
    background: #645766;
  }
}

@media (min-width: $tablet) {
  .testi {
    padding-top: 87px;
    background-position-y: center;

    &__title {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 88px;
    }

    &__post {
      margin-bottom: 58px;
      &:last-child {
        margin-bottom: 67px;
      }
    }

    &__separator {
      width: 72%;
      max-width: 780px;
    }
  }
}

@media (min-width: $desktop) {
  .testi {
    padding-top: 108px;
    
    &__post {
      margin-bottom: 115px;
    }

    &__bottom-text {
      @include padding10;
    }
  }
}