.container {
  max-width: 1200px;
  margin: 0 auto;
}
.youget {
  overflow: hidden;
  div:nth-last-of-type(2n) {
    margin-bottom: 25px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  &__title {
    color: #8D81AC;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 36px;
    @include padding10;
  }
  &__card {}
  &__card-img {
    margin-bottom: 23px;
  }
  &__card-box {}
  &__card-title {
    color: #323232;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 14px;
  }
  &__content-box {
    @include padding10;
  }
  &__card-text {
    color: #848E97;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
    @include padding-mobile;
  }
  &__img-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    overflow: hidden;
  }
  &__img {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: -5px -5px 10px rgb(0 0 0 / 15%), 5px 5px 5px rgb(0 0 0 / 15%);
  }
}

@media (min-width: $tablet) {
 .youget {
   &__wrapper {
     padding-left: 20px;
   }
   &__title {
     font-size: 42px;
     line-height: 44px;
   }
   &__content-box {
     padding-right: 20px;
     //margin-left: 80px;
   }
   &__card {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     justify-items: center;
     align-items: center;
   }
   &__card-img-container {
     width: 115px;
   }
   &__card-img{
     grid-column: 1 / span 1;
   }
   &__card-box {
     display: flex;
     flex-direction: column;
     text-align: left;
     grid-column: 2 / span 5;
   }
   &__card-title {
     margin: 10px;
   }
   &__img-box {
     justify-content: flex-end;
   }
   &__img {
     width: 100%;
   }
 }
}

@media (min-width: $desktop) {
  .youget {
    background: $background-youget;
    &__wrapper {
      margin-top: 98px;
      display: grid;
      grid-template-columns: 45% 55%;
      grid-template-areas:
      "text title"
      "text img"
      "text img"
      "text img"
    }
    &__title {
      font-size: 48px;
      line-height: 50px;
      grid-area: title;
      margin-bottom: -30px;
    }
    &__content-box {
      grid-area: text;
    }
    &__img-box {
      justify-content: flex-start;
      grid-area: img;
      display: flex;
    }
    &__img {
      height: 474px;
    }
  }
}
